<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
   <title>mod_perl Guide</title>
   <meta name="Author" content="Stas Bekman">
   <meta name="Description" content="All Apache/Perl related information: Hints, Guidelines, Scenarios and Troubleshottings">
   <meta name="keywords" content="mod_perl modperl perl cgi apache webserver speed fast guide mod_perl apache guide help info faq mod_perl installation cgi troubleshooting help no sex speedup free open source OSS mod_perl apache guide">
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   <meta name="Classification" content="information">
   <link href="style.css" rel=stylesheet type="text/css" title="refstyle">
  </head>
  <body>


    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    
    <div align="center">
     <font size="+4"><b>mod_perl Guide</b></font>
    </div>

    <p>&nbsp;</p>

    <div align=center>
      <b>Version [VERSION] [DATE]</b>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div align=center>
      <font size="+3">
	<b>
	  Deploying mod_perl technology to give a rocket speed to your
	  CGI/perl scripts.
	</b>
      </font>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div align=center>
      <font size="+1">
	by <b>Stas Bekman</b> <br>
	http://stason.org/<br>
	&lt;stas@stason.org&gt;
      </font>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div align=center>
      <font size="+2">
	Master Copy URL: http://perl.apache.org/guide/
      </font>
    </div>

    <hr class=PAGE-BREAK>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div align=center>
      This document is originally written in <b>POD</b>, converted to
      <b>HTML</b> by <b>pod2html</b> utility and to <b>PostScript</b>
      by <b>html2ps</b> utility.
    </div>



    <div align=center>
      You can download all the HTML files, POD sources and build scripts
      from <A HREF="http://www.perl.com/CPAN-local/authors/id/S/ST/STAS/">
	http://www.perl.com/CPAN-local/authors/id/S/ST/STAS/</A> or at
	the same directory from one of your favorite CPAN mirrors.
      <br>
      The latest CVS snapshot is available from <A
	HREF="http://www.stason.org/guide-snapshots/">
	http://www.stason.org/guide-snapshots/</A>.
      <br>

      The PDF version of the Guide is available from <A
	HREF="http://perl.apache.org/guide/">
	http://perl.apache.org/guide/</A>.
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div align=center>
      Copyright &copy; 1998-2000 Stas Bekman. All rights reserved.(Distributed under GPL license)
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    
    <div align=center>
      (you will find a Table of Contents at the end of the Guide)
    </div>

    <hr class=PAGE-BREAK>

    <p><p><p>

      <font size="+1">
	<b>
	  Your corrections of the technical and grammatical
	  errors are very welcome. You are encouraged to help me
	  improve this guide.
	</b>
      </font>
    <p>
      <font size="+1">
	<b>
	  If you have something to contribute please send it directly
	  to me. Thank you!
	</b>
      </font>
    <p>
      <font size="+1">
	<b>
	  If it's a small fix, just remember to tell me the chapter
	  and the name of the section you are talking about.
	</b>
      </font>
    <p>
      <font size="+1">
	<b>
	  If it includes big text modifications please download the POD sources
	  of the Guide from CPAN <A
	    href="http://www.perl.com/CPAN-local/authors/id/S/ST/STAS/">
	    http://www.perl.com/CPAN-local/authors/id/S/ST/STAS/</a>, edit them
	  directly and send the patched file to me. There is no need
	  to send me patches, send the POD files themselves.
	</b>
      </font>
    <p>
      <font size="+1">
	<b>
	  Thank you!
	</b>
      </font>
    <hr class=PAGE-BREAK>
 
  </body>
</html>

