<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
   <title>[PAGE]/[TITLE]</title>
   <meta name="Author" content="Stas Bekman">
   <meta name="Description" content="All Apache/Perl related information: Hints, Guidelines, Scenarios and Troubleshottings">
   <meta name="keywords" content="mod_perl modperl perl cgi apache webserver speed fast guide mod_perl apache guide help info faq mod_perl installation cgi troubleshooting help no sex speedup free open source OSS mod_perl apache guide">
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   <meta name="Classification" content="information">
   <link href="../style.css" rel=stylesheet type="text/css" title="refstyle">
  </head>
  <body>

    <p>
    <div class="navbar">
      <A HREF="../index.html">Split Version Contents</A> |
      <A HREF="http://perl.apache.org/guide/index.html">Full Version Contents</A> |
      <A HREF="../index.html#search"  >Search</A>   |
      <A HREF="http://perl.apache.org/guide/index.html#download">Download</A>
    </div>
    <hr>

    <p>
    <div class="toc">
      [FULLTITLE]
    </div>


    <hr>

    [BODY]

    <p>

    <div class="navbar">
      <A HREF="../index.html">Split Version TOC</A> |
      <A HREF="http://perl.apache.org/guide/index.html">Non-Split Version TOC</A> |
      <A HREF="../index.html#search">Search</A>   |
      <A HREF="http://perl.apache.org/guide/index.html#download">Download</A>
    </div>
    <p>

 

    <hr>
    <center>
      <b>
	<font size=-1>
	  Written by 
	  <a href="../help/Contacting_me.html">Stas Bekman</a>. 
	  Last Modified at [MODIFIED]
	</font>
      </b>
    </center>
  </body>
</html>
